@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --blue:#35a6f9;
  --text-blue:#0084f6;
  --text-black:#333;
  --text-blue:#0c3f8abd;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-black) ;
  background-color: #eee;
 
}

@layer components {
  .heading1{
    @apply lg:text-3xl text-2xl text-blue-dark capitalize  px-5
  }
  
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
